@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Rubik', sans-serif;
}

.componente{
    width: 400px;
    height: 400px;
}

.box-equipe{
    width: 100%;
    min-height: 100vh;
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-equipe{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.descr-equipe{
    background-color: #e0dbde;
    width: 100%;
    height: 30%;
    padding: 4px 0 0 30px;    
    display: flex;   
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
}

.social-media{
    background-color: #e0dbde;
    width: 100%;
    height: 30%;
    padding: 40px 0 40px 180px;
    display: flex;
    align-items: center;
}

.redesocial{
    width: 40px;
    height: 40px;
}

.redesocial:hover{
    width: 50px;
    height: 50px;
}

h2{
    font-family: 'Londrina Solid', cursive;
    font-size: 50px;
}

.subtitle{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}
