@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
.back-top{
    width: 60px;
    position: fixed;
    bottom: 60px;
    right: 100px;
    z-index: 999;
}
.list-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.btn{
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    border-bottom: 3px solid coral;
}
.box-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner1{
    background-image: url(../images/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 46vh;
}
.banner2{
    background-image: url(../images/5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 46vh;
}
.banner3{
    background-image: url(../images/4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 46vh;
}
.box-cards{
    width: 100%;
    min-height: 100vh;
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card-product{
    width: 280px;
    height: 380px;
    margin: 10px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.img-zoom{
    overflow: hidden;
}
.product{
    width: 280px;
    max-width: 100%;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.product:hover{
    border-radius: 10px 10px 0 0;
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.description{
    background-color: #e0dbde;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn-buy{
    background-color: transparent;
    width: 80px;
    height: 30px;
    border-radius: 9px;
    border: 1px solid;
    cursor: pointer;

    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
}
.btn-buy:hover{
    color: white;
}