<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TT Construção - Nossa Equipe</title>
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/equipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Londrina+Solid:wght@900&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- barra de navegação -->
            <div class="container-header">
                <div class="box-logo">
                    <a href="../../index.html">
                        <img class="logo-header" src="../../assets/logo/2.png" alt="">
                    </a>
                </div>
                <!-- menu -->
                <div class="box-menu">
                    <ul class="menu-header">
                        <!-- itens do menu -->
                        <li>
                            <a class="btn-menu" href="../../index.html">Inicio</a>
                        </li>
                        <li>
                            <a class="btn-menu" href="produtos.html">Produtos</a>
                        </li>
                        <li>
                            <a class="btn-menu" href="quem.html">Quem Somos</a>
                        </li>
                        <li>
                            <a class="btn-menu" href="equipe.html">Nossa Equipe</a>
                        </li>
                        <li>
                            <a class="btn-menu" href="contato.html">Contato</a>
                        </li>
                    </ul>
                    <a href="../pages/cart.html">
                        <!-- Icon carrinho -->
                        <!-- <img class="icon-cart" src="./assets/icons/shopcart.svg" alt=""> -->
                        <svg class="icon-cart"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.24l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z"/></svg>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- main é o principal da pagina -->
    <main>
        <h1>Nossa Equipe</h1>
        <section>
            <div class="box-equipe"><!--box-cards no css-->
                <div class="card-equipe"><!--Card-product no css-->
                    <div class="imagem"><!--img-zoom no css-->
                        <img class="componente" src="../../assets/images/equipe/Adma.png"><!--product no css-->

                    </div>
                    <div class="descr-equipe"><!--description no css-->
                        <h2>Adma Nogueira</h2>
                        <p class="subtitle">Pessoa Colaboradora</p>

                    </div>
                    <div class="social-media">
                        <a target="_blank" href="https://github.com/AdmaNogueira"><img class="redesocial" src="../../assets/social-media/github.svg"></a>
                        <a target="_blank" href="https://www.linkedin.com/in/adma-nogueira-6873651b4"><img class="redesocial" src="../../assets/social-media/linkedin.svg"></a>
                        
                    </div>
                   
                </div>
                <div class="card-equipe">
                    <div class="imagem">
                        <img class="componente" src="">

                    </div>
                    <div class="descr-equipe"><!--description no css-->
                        <h2>Daniel</h2>
                        <p class="subtitle">Pessoa Colaboradora</p>

                    </div>
                    <div class="social-media">
                        <a target="_blank" href=""><img class="redesocial" src="../../assets/social-media/github.svg"></a>
                        <a target="_blank" href=""><img class="redesocial" src="../../assets/social-media/linkedin.svg"></a>
                        
                        
                    </div>
                </div>
                <div class="card-equipe">
                    <div class="imagem">
                        <img class="componente" src="../../assets/images/equipe/felipe.png">

                    </div>
                    <div class="descr-equipe">
                        <h2>Felipe Vieira</h2>
                        <p class="subtitle">Pessoa Gestora de Gente e Engajamento</p>

                    </div>
                    <div class="social-media">
                        <a target="_blank" href="https://github.com/afelipinas"><img class="redesocial" src="../../assets/social-media/github.svg"></a>
                        <a target="_blank" href="https://www.linkedin.com/in/felipe-vieira-75570bb1/"><img class="redesocial" src="../../assets/social-media/linkedin.svg"></a>
                        
                        
                    </div>
                </div>

            </div>
            <div class="box-equipe"><!--box-cards no css-->
                <div class="card-equipe">
                    <div class="imagem">
                        <img class="componente" src="../../assets/images/equipe/fernando.png">

                    </div>
                    <div class="descr-equipe"><!--description no css-->
                        <h2>Fernando Cesar</h2>
                        <p class="subtitle">Pessoa Co-Facilitadora</p>

                    </div>
                    <div class="social-media">
                        <a target="_blank" href="https://github.com/fernandorussie"><img class="redesocial" src="../../assets/social-media/github.svg"></a>
                        <a target="_blank" href="https://www.linkedin.com/in/fernando-felip"><img class="redesocial" src="../../assets/social-media/linkedin.svg"></a>
                        
                        
                    </div>
                </div>
                <div class="card-equipe">
                    <div class="imagem">
                        <img class="componente" src="../../assets/images/equipe/nata.png">

                    </div>
                    <div class="descr-equipe">
                        <h2>Natã Santos</h2>
                        <p class="subtitle">Pessoa Gestora de Conhecimento</p>

                    </div>
                    <div class="social-media">
                        <a target="_blank" href="https://github.com/Natanjfs"><img class="redesocial" src="../../assets/social-media/github.svg"></a>
                        <a target="_blank" href="https://www.linkedin.com/in/nat%C3%A3-santos-01a2a7170/"><img class="redesocial" src="../../assets/social-media/linkedin.svg"></a>
                        
                        
                    </div>
                </div>

            </div>

            
        </section>
    </main>
    <!-- footer é o rodapé da pagina -->
    <footer>
        <section class="container-footer">
            <div class="box-left">
                <div>
                    <a href="https://goo.gl/maps/PKrEqjsCXDSza2kX6" target="_blank">
                        <img src="../../assets/icons/adress.svg" alt="">
                    </a>
                    <p>R. Ewbank da Câmara, 91 - Madureira</p>
                </div>
                <div>
                    <img src="../../assets/social-media/whatsapp.svg" alt="">
                    <p>Telefone</p>
                </div>
                <div>
                    <img src="../../assets/social-media/email.svg" alt="">
                    <p>suporte@ttconstrucao.com</p>
                </div>
            </div>
            <div class="box-right">
                <div>
                    <p>Resumo sobre a empresa</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aspernatur tempora quidem reiciendis adipisci. Quibusdam, voluptatem necessitatibus quia optio deserunt natus voluptas et numquam tenetur laudantium unde, qui labore sapiente?</p>
                </div>
                <div style="display: flex;">
                    <img src="../../assets/social-media/facebook.svg" alt="">
                    <img src="../../assets/social-media/instagram.svg" alt="">
                    <img src="../../assets/social-media/twitter.svg" alt="">
                </div>
            </div>
        </section>
    </footer>
</body>
</html>