<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TT Construção - Quem Somos</title>
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/quem.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- barra de navegação -->
            <div class="container-header">
                <div class="box-logo">
                    <a href="../../index.html">
                        <img class="logo-header" src="../../assets/logo/2.png" alt="">
                    </a>
                </div>
                <!-- menu -->
                <div class="box-menu">
                    <ul class="menu-header">
                        <!-- itens do menu -->
                        <li>
                            <a class="btn-menu" href="../../index.html">Inicio</a>
                        </li>
                        <li>
                            <a class="btn-menu" href="produtos.html">Produtos</a>
                        </li>
                        <li>
                            <a class="btn-menu" href="quem.html">Quem Somos</a>
                        </li>
                        <li>
                            <a class="btn-menu" href="equipe.html">Nossa Equipe</a>
                        </li>
                        <li>
                            <a class="btn-menu" href="contato.html">Contato</a>
                        </li>
                    </ul>
                    <a href="../pages/cart.html">
                        <!-- Icon carrinho -->
                        <!-- <img class="icon-cart" src="./assets/icons/shopcart.svg" alt=""> -->
                        <svg class="icon-cart"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.24l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z"/></svg>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- main é o principal da pagina -->
    <main>
        <section>
            <div class="box-quemsomos">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7352.076070442384!2d-43.34173376845796!3d-22.87505331364893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9962dba9d4fe45%3A0x85d6de09980a6ed9!2sSenac%20Madureira!5e0!3m2!1spt-BR!2sbr!4v1665020227254!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
                
                <div class="textoquemsomos">
               <p><center>Somos uma microempresa que atua no ramo de comercial, mas especificamente na venda materiais para construção civil.<br> 
                Trabalhamos com materiais de alvenaria, acessórios e ferramentais para construções.<br> 
                Estamos localizados no coração da zona norte, no bairro de Madureira. 
                Nossa principal meta é ajudar você a construir os seus sonhos.</center>  </p>
                
                <br>
                <br>
            </div>
        </div>
            <div class="box-missaovisao">

                <div>
                <h1><center>Missão</center></h1>
                <br>
                <br>
                <p><center> Nossa missão é assegurar aos nossos clientes serviços com elevado padrão de qualidade, 
                    considerando fundamental o cumprimento das normas de Qualidade, Segurança e Meio Ambiente.<br> 
                    Inovando continuamente por meio de investimentos em tecnologia e qualificação profissional, 
                    visando o aperfeiçoamento constante dos nossos trabalhos e a satisfação de nossos clientes.
                </center></p>
            
                <br>
                <br>
            </div>
             <div>
                <h1><center>Visão</center></h1>
                <br>
                <br>
                <p><center>Ser uma empresa líder em referência na venda de materiais para construção civil, 
                    atendendo as demandas com uma estrutura competente e otimizada<br> que nos permita enfrentar novos desafios e continuar a superar as expectativas de nossos clientes, 
                    possibilitando assim um crescimento sólido e a consequente expansão de nossas atividades.</center></p>

                    <br>
                <br>
            </div>
            </div>
            <br>
            <div class="values">
                <div>
                <h1>Valores</h1>
                <br>
                <br>

                <ul>
                        <li>Ética</li>
                        <li>Credibilidade</li>
                        <li>Coerência</li>
                        <li>Responsabilidade técnica e social</li>
                        <li>Eficácia</li>
                        <li>Honestidade</li>
                        <li>Seriedade</li>
                        <li>Qualidade</li>
                        <li>Pontualidade</li>
                       

                </ul>
            </div>
            <div>
                <img class="img-val" src="../../assets/images/valores.jpg">
            </div>

            </div>
        </section>
    </main>
    <!-- footer é o rodapé da pagina -->
    <footer>
        <section class="container-footer">
            <div class="box-left">
                <div>
                    <a href="https://goo.gl/maps/PKrEqjsCXDSza2kX6" target="_blank">
                        <img src="../../assets/icons/adress.svg" alt="">
                    </a>
                    <p>R. Ewbank da Câmara, 91 - Madureira</p>
                </div>
                <div>
                    <img src="../../assets/social-media/whatsapp.svg" alt="">
                    <p>Telefone</p>
                </div>
                <div>
                    <img src="../../assets/social-media/email.svg" alt="">
                    <p>suporte@ttconstrucao.com</p>
                </div>
            </div>
            <div class="box-right">
                <div>
                    <p>TT Construção desde 2010 presente na construção dos seus sonhos. Temos o compromisso de assegurar a qualidade e entrega dos nossos materiais.</p>
                </div>
                <div style="display: flex;">
                    <img src="../../assets/social-media/facebook.svg" alt="">
                    <img src="../../assets/social-media/instagram.svg" alt="">
                    <img src="../../assets/social-media/twitter.svg" alt="">
                </div>
            </div>
        </section>
    </footer>
</body>
</html>